


#nav {
      width: 100%;
      float: left;
      margin: 0 0 3em 0;
      padding: 0;
      list-style: none;
      background-color: #001D72;
      border-bottom: 1px solid #ccc; 
      border-top: 1px solid #ccc; }
   #nav li {
      float: left; }
   #nav li a {
      font-family: 'Roboto Slab', serif;
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      font-weight: bold;
      color: #FFFFFF;
      border-right: 1px solid #ccc; }
   #nav li a:hover {
      color: #001D72;
      background-color: #FFFFFF; }

      

#content {
	font-family: 'Roboto Slab', serif;
   background-color: #D9FFF2;
	color: black;
}
